p {
  display: flex;
  font-family: Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-align: left;
  align-items: center;
  margin: 10px;
}

.container {
  border: 2px solid blueviolet;
  border-radius: 8px;
  display: flex;
  width: 398px;
  height: 120px;
  justify-content: space-between;
  box-shadow: 0 0 1px 1px rgb(163, 78, 241);
  background-color: rgb(244, 233, 254);
  padding: 16px;
  text-align: left;
}

.name {
  line-height: 1;
  font-size: 16px;
  font-weight: 600;
}

.elements {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.btn {
  width: 100px;
  height: 40px;
  font-size: 18px;
  font-weight: 600;
  margin: auto 0;
  background-color: rgb(205, 158, 249);
  text-align: center;
  font-family: Arial, sans-serif;
  border: none;
  box-shadow: 0 0 2px 1px rgb(163, 78, 241);
  transition: background-color 2s ease, color 2s ease;
}

.btn:hover {
  cursor: pointer;
  background-color: orange;
  border: none;
}

.btn:focus {
  outline: none;
}

.icon {
  min-width: 36px;
  min-height: 36px;
  padding-right: 8px;
}
