p {
  display: flex;
  font-family: Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-align: left;
  align-items: center;
  margin: 10px;
}

.container {
  border: 2px solid teal;
  border-radius: 8px;
  display: flex;
  width: 350px;
  height: 120px;
  justify-content: space-between;
  box-shadow: 0 0 1px 1px rgb(2, 203, 203);
  background-color: azure;
}

.name {
  line-height: 1;
}

.elements {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.btn {
  width: auto;
  height: 40px;
  font-size: 16px;
  font-weight: 600;
  margin: auto 10px;
  background-color: rgb(94, 209, 209);
  text-align: center;
  font-family: Arial, sans-serif;
  border: none;
  box-shadow: 0 0 4px 2px rgb(2, 161, 161);
  transition: background-color 2s ease, color 2s ease;
}

.btn:hover {
  cursor: pointer;
  background-color: rgb(0, 181, 181);
  color: #fafafa;
  border: none;
}

.btn:focus {
  outline: none;
}

.icon {
  min-width: 30px;
  min-height: 30px;
  padding-right: 8px;
}
