.container {
  display: flex;
  flex-direction: column;
  padding: 70px 200px;
  height: 100vh;
  align-items: center;
}

.text {
  font-size: 26px;
  font-weight: 600;
  padding-bottom: 70px;
  text-align: center;
}

.img_home {
  display: flex;
  justify-content: center;
  width: 400px;
}
